body, html {
    width: 100%;
    height: 100%;
    background: black;
    color: white;
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "Lucida Console", Monaco, monospace, Courier;
    font-size: 20px;
    margin: 0px;
    padding: 0px;
}

.card {
    visibility: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.card#splash {
    visibility: visible;
}